* {

margin:0;
padding:0;
box-sizing: border-box;
}


 body{
  font-family: 'Open Sans', sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');




/*
@font-face {
  font-family: 'Merriweather';
  font-weight:bold;
  src: url("./assets/fonts/Merriweather/Merriweather-Bold.ttf");
}

@font-face{
  font-family: 'Merriweather';
  font-weight:normal;
  src: url("./assets/fonts/Merriweather/Merriweather-Regular.ttf");
}
 */ 
