body {
font-family: 'Merriweather';
margin:0;
padding:0;
box-sizing: border-box;
}



@font-face {
  font-family: 'Merriweather';
  font-weight: 100;
  src: url("./assets/fonts/Merriweather/Merriweather-Light.ttf");
}

@font-face {
  font-family: 'Merriweather';
  font-weight:bold;
  src: url("./assets/fonts/Merriweather/Merriweather-Bold.ttf");
}

@font-face{
  font-family: 'Merriweather';
  font-weight:normal;
  src: url("./assets/fonts/Merriweather/Merriweather-Regular.ttf");
}

